<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div *ngIf="!loading" class="content">
  <h2>學員專區</h2>

  <img [src]="this.form.get('pictureUrl')?.value"
    (error)="img.src='https://storage.googleapis.com/aiii-bot-platform-tw/system/nopic.jpg'" #img alt="" class="img">

  <h6>UID：{{form.get('uid')?.value}}</h6>

  <form [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>暱稱</mat-label>
      <input matInput formControlName="displayName" [required]="true">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>大頭照</mat-label>
      <input matInput formControlName="pictureUrl" [required]="true">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>狀態訊息</mat-label>
      <input matInput formControlName="statusMessage" [required]="false">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>身份</mat-label>
      <mat-select formControlName="role" [required]="true">
        <mat-option *ngFor="let role of roleList" [value]="role"
          [disabled]="role===Role.manager||role===Role.freelancer">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>性別</mat-label>
      <mat-select formControlName="gender" [required]="true">
        <mat-option *ngFor="let gender of genderList" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>生日</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birth" [required]="false" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>手機</mat-label>
      <input matInput formControlName="phone" [required]="false" placeholder="必須為 [09] 開頭的10碼數字">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>信箱</mat-label>
      <input matInput formControlName="email" [required]="false" placeholder="yourname@email.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>關於我</mat-label>
      <textarea matInput formControlName="aboutMe" [required]="false"></textarea>
    </mat-form-field>

  </form>

  <div>
    <button mat-raised-button color="primary" (click)="_btnSave()" [disabled]="sending||!form.valid"
      *ngIf="form">儲存</button>
    <button mat-raised-button color="warn" (click)="_btnClose()" [disabled]="sending" *ngIf="form">關閉</button>
  </div>

  <br>

</div>
